<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Payment Failed</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Shared CSS -->
    <link rel="stylesheet" href="/css/payments/base.css" />
  </head>
  <body>
    <div class="card">
      <div
        class="success-icon"
        style="
          background: #fdecea;
          color: #c62828;
          width: 72px;
          height: 72px;
          font-size: 36px;
          margin: 0 auto 20px;
          padding: 20px;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          border-radius: 90px;
        "
      >
        ❌
      </div>

      <h1>Payment Failed</h1>
      <br />

      <p>Oops! Something went wrong during the payment process.</p>

      <p>Please try again.</p>
    </div>
  </body>
</html>
